.vertical_alignment {
    display: flex; 
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin: 0 auto;               
    width: fit-content;           
    
    width: 80%;

}

.vertical_alignment_forum_list {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;               
    width: fit-content;           
    
    width: 25%;
    margin-right: 65px;
    margin-left: 50px;
}

.vertical-line {
    width: 1px;
    height: 1080px;
    background-color: #272727; 
    margin: 0 15px;
}

.vertical_alignment_forum_list a {
    text-decoration: none;  
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-start;
}

.vertical_alignment_forum_list p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-end;
    margin-left: auto;
}

.vertical_alignment_messages {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;               
    width: fit-content;
    justify-content: flex-start;           
    
    width: 65%;
    margin-left: auto;
}

.message {
    max-width: 60%;
    background-color: #cee2e7;
    padding: 12px 16px;
    margin: 10px;
    border-radius: 0 12px 12px 12px; 
    font-family: 'Hanken Grotesk', sans-serif;
    color: #333;
}

.message_me {
    max-width: 60%;
    background-color: #cee2e7;
    padding: 12px 16px;
    margin: 0px 5px 5px 5px;
    border-radius: 12px 0px 12px 12px; 
    font-family: 'Hanken Grotesk', sans-serif;
    color: #333;
    margin-left: auto; 
}

.p_me {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 19px;
    margin-left: auto; 
    margin-right: 11px;
    font-weight: 600;

}

.p_not_me {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 19px;
    font-weight: 600;

}

.message_form {
    position: fixed;
    bottom: 0;
    left: 1;
    width: 65%;
    background-color: #fff;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    z-index: 10;
    
}
  
.message_form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    color: #0a0a0a;
}

.message_form input::placeholder {
    color: #444; 
    opacity: 1; 
}

.send i {
    font-size: 27px; 
}
  
.message_form button {
    padding: 10px 20px;
    background-color: #0d4d72;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
  
.message_form button:hover {
    background-color: #053c5c;
}

.message_content {
    font-family: 'Hanken Grotesk', sans-serif;
    color: #0e0e0e;
    font-size: 18px;
}

.date {
    display: block;
    font-size: 15px;
    color: #646464;
    text-align: right;
    margin-top: 8px;
}

.horizontal {
    display: flex; 
    flex-direction: row;
    width: 100%;
    

}

.vertical_alignment a {
    text-decoration: none;  
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-start;
    

}

.vertical_alignment p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-end;
    margin-left: auto;
    

}

p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
}

hr {
    height: 2px;
    background-color: #0a0a0a; 
    border: none;
    color: #0a0a0a;


}


h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 900;
    color: #2e2e2e;
    margin-top: 55px;
    margin-left: 50px;
    text-align: center; 
    margin-bottom: 75px;
}
