.vertical_alignment {
    display: flex; 
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin: 0 auto;               
    width: fit-content;           
    
    width: 80%;

}

.vertical_alignment_forum_list {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;               
    width: fit-content;           
    
    width: 25%;
    margin-right: 65px;
    margin-left: 50px;
}

.vertical-line {
    width: 1px;
    height: 1080px;
    background-color: #272727; 
    margin: 0 15px;
}

.vertical_alignment_forum_list a {
    text-decoration: none;  
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-start;
}

.vertical_alignment_forum_list p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-end;
    margin-left: auto;
}

.vertical_alignment_messages {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;               
    width: fit-content;
    justify-content: flex-start;           
    
    width: 65%;
    margin-left: auto;
}

.message {
    max-width: 60%;
    background-color: #cee2e7;
    padding: 12px 16px;
    margin: 10px;
    border-radius: 0 12px 12px 12px; 
    font-family: 'Hanken Grotesk', sans-serif;
    color: #333;
}

.replied_me {
    background-color: #578dcc;
    color: white;
    padding: 6px 12px;
    border-radius: 12px 0 0 0;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100%;
    box-sizing: border-box;
    max-width: 40%; 
}

.message_me {
    background-color: #cee2e7;
    padding: 12px 16px;
    margin: 0;
    border-radius: 12px 0px 12px 12px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    max-width: 40%;
}

.message_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.replied {
    background-color: #277386;
    border-radius: 0px 12px 12px 12px; 
    font-family: 'Hanken Grotesk', sans-serif;
    color: #e0e0e0;
}

.btn_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}

.reply {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    margin: 0;
}

.reply:hover {
    color: #053c5c;
}

.edit_delete {
    display: flex;
    gap: 0px;
    align-items: center;
}

.p_me {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 19px;
    margin-left: auto; 
    margin-right: 11px;
    font-weight: 600;

}

.p_not_me {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 19px;
    font-weight: 600;

}

.message_form {
    position: fixed;
    bottom: 0;
    left: 1;
    width: 65%;
    background-color: #fff;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    z-index: 10;
    
}
  
.message_form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    color: #0a0a0a;
}

.message_form input::placeholder {
    color: #444; 
    opacity: 1; 
}

.send i {
    font-size: 27px; 
}

.delete i {
    font-size: 21px; 
}

.reply i {
    font-size: 21px; 
}

.edit i {
    font-size: 21px; 
}
  
.delete {
    padding: 5px;
    color: rgb(19, 19, 19);
    border: none;
    cursor: pointer;
    background: none;
    line-height: 1;
    margin: 0;
    
}
.delete:hover {
    color: #7c0707;
}

.edit:hover {
    color: #053c5c;
}

.edit {
    padding: 5px;
    color: rgb(19, 19, 19);
    border: none;
    cursor: pointer;
    background: none;
    line-height: 1;
    margin: 0;
    
}


.message_box {
    position: relative;
}

/*.delete_form {
    position: absolute;
    bottom: -10px;
    right: -10px;  
    margin-left: 15px;
}*/

.message_form button {
    padding: 10px;
    background-color: #0d4d72;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
  
.message_form button:hover {
    background-color: #053c5c;
}
.save {
    padding: 10px;
    background-color: #0d4d72;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.save:hover {
    background-color: #053c5c;
}

.btn_login {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0d4d72;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 540px;
  }
  
.btn_login:hover {
    background-color: #053c5c;
}

.btn_event {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0d4d72;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 540px;
  }
  
.btn_event:hover {
    background-color: #053c5c;
}

.center_div {
    max-width: 600px;         
    margin: 100px auto;       
    padding: 30px;
}

.center_div_calender {
    max-width: 600px;         
    margin: 35px;       
    padding: 30px;
}

.calendar {
    max-width: 600px;         
    margin: 35px;       
    padding: 30px;
}

.message_content {
    font-family: 'Hanken Grotesk', sans-serif;
    color: #0e0e0e;
    font-size: 18px;
}

.date {
    display: block;
    font-size: 15px;
    color: #646464;
    text-align: right;
    margin-top: 8px;
}

.horizontal {
    display: flex; 
    flex-direction: row;
    width: 100%;
    

}

.vertical_alignment a {
    text-decoration: none;  
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-start;
    

}

.vertical_alignment p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-end;
    margin-left: auto;
    

}

p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
}

hr {
    height: 2px;
    background-color: #0a0a0a; 
    border: none;
    color: #0a0a0a;


}


h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 900;
    color: #2e2e2e;
    margin-top: 55px;
    margin-left: 50px;
    text-align: center; 
    margin-bottom: 75px;
}

.calendar table {
    width: 400px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #fefefe;
    margin-right: 100px;
}
  
.calendar th {
    background-color: #0d4d72;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
}
  
.calendar td {
    padding: 15px;
    border: 1px solid #ddd;
    height: 60px;
    vertical-align: top;
}
  
.calendar td:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
  
.calendar .today {
    background-color: #d1ecf1;
    font-weight: bold;
    border: 2px solid #0c5460;
}
.btn_login + .btn_login {
    margin-top: 3px;
}