.vertical_alignment {
    display: flex; 
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin: 0 auto;               
    width: fit-content;           
    
    width: 80%;

}

.vertical_alignment_forum_list {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;               
    width: fit-content;           
    
    width: 25%;
    margin-right: 65px;
    margin-left: 50px;
}

.vertical-line {
    width: 1px;
    height: 1080px;
    background-color: #272727; 
    margin: 0 15px;
}

.vertical_alignment_forum_list a {
    text-decoration: none;  
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-start;
}

.vertical_alignment_forum_list p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-end;
    margin-left: auto;
}

.vertical_alignment_messages {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;               
    width: fit-content;
    justify-content: flex-start;           
    
    width: 65%;
    margin-left: auto;
}

.message.has_reply {
    background-color: #cee2e7;
    padding: 12px 16px;
    margin: 0;
    border-radius: 0 0px 12px 12px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    max-width: 40%;
}

.message.no_reply {
    background-color: #cee2e7;
    padding: 12px 16px;
    margin: 0;
    border-radius: 0 12px 12px 12px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    max-width: 40%;
}

.replied_me {
    background-color: #7bb0ec;
    color: white;
    padding: 6px 12px;
    border-radius: 12px 0 0 0;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100%;
    box-sizing: border-box;
    max-width: 40%; 
}

.replied_not_me {
    background-color: #7bb0ec;
    color: white!important;
    padding: 6px 12px;
    border-radius: 0 12px 0 0;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100%;
    box-sizing: border-box;
    max-width: 40%; 
}

.replying_to {
    padding: 8px 12px;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
}

.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.form_body {
    width: 100%;
    display: flex;
    flex-direction: row; 
}

.message_me.has_reply {
    background-color: #cee2e7;
    padding: 12px 16px;
    margin: 0;
    border-radius: 0px 0px 12px 12px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    max-width: 40%;
}

.message_me.no_reply {
    background-color: #cee2e7;
    padding: 12px 16px;
    margin: 0;
    border-radius: 12px 0px 12px 12px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    max-width: 40%;
}

.message_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message_block_not_me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.replied {
    background-color: #277386;
    border-radius: 0px 12px 12px 12px; 
    font-family: 'Hanken Grotesk', sans-serif;
    color: #e0e0e0;
}

.btn_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}

.reply {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    margin: 0;
}

.reply:hover {
    color: #053c5c;
}

.edit_delete {
    display: flex;
    gap: 0px;
    align-items: center;
}

.p_me {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 19px;
    margin-left: auto; 
    margin-right: 11px;
    font-weight: 600;

}

.p_not_me {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 19px;
    font-weight: 600;

}

.message_form {
    position: fixed;
    bottom: 0;
    left: 1;
    width: 65%;
    background-color: #f3f3f3;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    z-index: 10;
    box-sizing: border-box;
    
}

.add_forum {
    display: flex;
    padding: 10px;
    flex-direction: row;
    margin-bottom: 50px;
    
}

.add_forum button {
    background-color: #0d4d72;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    margin-top: 5px;
    
}

.add_forum input {
    border: 1px solid #ccc;
    margin-right: 25px;
    color: #0a0a0a;
    
}
  
.add_forum button:hover {
    background-color: #053c5c;
}

.buttons_group_home {
    margin-left: 15px;
}

.buttons_group_buttons_edit {
    width: 70px;
    height: 41px;
    background-color: #0d4d72;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

.buttons_group_buttons_edit:hover {
    background-color: #053c5c;
}

.buttons_group_buttons_delete {
    width: 70px;
    height: 41px;
    background-color: #751609;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons_group_buttons_delete:hover {
    background-color: #832c21;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    width: 500px;
    max-width: 90%;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.delete {
    width: 70px;
    height: 41px;
    background-color: #751609;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}
  
.message_form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    color: #0a0a0a;
}

.message_form input::placeholder {
    color: #444; 
    opacity: 1; 
}

.send i {
    font-size: 27px; 
}

.delete i {
    font-size: 21px; 
}

.reply i {
    font-size: 21px; 
}

.edit i {
    font-size: 21px; 
}
  
.delete {
    padding: 5px;
    color: rgb(19, 19, 19);
    border: none;
    cursor: pointer;
    background: none;
    line-height: 1;
    margin: 0;
    
}
.delete:hover {
    color: #7c0707;
}

.edit:hover {
    color: #053c5c;
}

.edit {
    padding: 5px;
    color: rgb(19, 19, 19);
    border: none;
    cursor: pointer;
    background: none;
    line-height: 1;
    margin: 0;
    
}


.message_box {
    position: relative;
}

/*.delete_form {
    position: absolute;
    bottom: -10px;
    right: -10px;  
    margin-left: 15px;
}*/

.message_form button {
    padding: 10px;
    background-color: #0d4d72;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
  
.message_form button:hover {
    background-color: #053c5c;
}
.save {
    padding: 10px;
    background-color: #0d4d72;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.save:hover {
    background-color: #053c5c;
}

.save_new {
    padding: 10px;
    background-color: #0d4d72;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    text-align: center;
}

.save_new:hover {
    background-color: #053c5c;
}

.add_btn {
    color: rgb(197, 30, 30);
    background-color: #0a0a0a;
}

.add_btn:hover {
    background-color: #053c5c;
}

.custom-btn {
    color: rgb(255, 255, 255) !important; 
    border-radius: 3px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #0e0e0e;
    font-size: 18px !important;
    width: 130px;
    height: 45px;
    text-align: center !important;
    background-color: #0d4d72;
    margin-bottom: 50px;
}

.btn_login {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0d4d72;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 540px;
    text-decoration: none;
    margin-bottom: 15px;
}

.btn_login:hover {
    background-color: #053c5c;
}

.btn_back {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0d4d72;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 105px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-top: 45px;
    display: block;
    margin-left: 35px;
    text-align: center;

}

.btn_back:hover {
    background-color: #053c5c;
}

.btn_back_new {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0d4d72;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 105px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-top: 45px;
    display: block;
    margin-left: 145px;
    text-align: center;

}

.btn_back_new:hover {
    background-color: #053c5c;
}

nav {
    padding-bottom: 1px; 
    padding-top: 0%;
}

.hello_container {
    background-color: #ececec; 
    border-radius: 12px;
    padding: 57px; 
    max-width: 700px; 
    margin: 30px auto; 
    margin-top: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.hello_text {
    line-height: 1.8;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #0e0e0e;
    font-size: 18px !important;
}

.rectangle_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap; 
}

.learners {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 33px;
    font-weight: 700;
    color: rgb(31, 31, 31);
    text-align: center;
    margin-top: 50px;
}

.rectangle_item {
    width: 140px;
    height: 80px;
    background-color: white;
    border-radius: 12px;
    border: 2px solid #0d4d72; 
    box-shadow: 0 0 10px #1779b3; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0d4d72;
    transition: box-shadow 0.3s ease;
    margin-bottom: 35px;
}

.rectangle_item:hover {
    box-shadow: 0 0 16px rgba(112, 181, 255, 0.9); 
}

.btn_login_new {
    display: inline-block; 
    width: 540px; 
    padding: 10px 20px;
    background-color: #0d4d72;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.btn_login_new:hover {
    background-color: #053c5c;
}
  


.btn_event {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0d4d72;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 540px;
  }
  
.btn_event:hover {
    background-color: #053c5c;
}

.center_div {
    max-width: 600px;         
    margin: 100px auto;       
    padding: 30px;
}

.center_div_calender {
    max-width: 600px;         
    margin: 35px;       
    padding: 30px;
}

.calendar {
    max-width: 600px;         
    margin: 35px;       
    padding: 30px;
}

.message_content {
    font-family: 'Hanken Grotesk', sans-serif;
    color: #0e0e0e;
    font-size: 18px;
}

.date {
    display: block;
    font-size: 15px;
    color: #646464;
    text-align: right;
    margin-top: 8px;
}

.horizontal {
    display: flex; 
    flex-direction: row;
    width: 100%;
    

}

.vertical_alignment a {
    text-decoration: none;  
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-start;
    

}

.vertical_alignment p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-end;
    margin-left: auto;
    

}

p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
}

hr {
    height: 2px;
    background-color: #0a0a0a; 
    border: none;
    color: #0a0a0a;


}


h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 900;
    color: #2e2e2e;
    margin-top: 55px;
    margin-left: 50px;
    text-align: center; 
    margin-bottom: 75px;
}

.calendar table {
    width: 400px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #fefefe;
    margin-right: 100px;
}
  
.calendar th {
    background-color: #0d4d72;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
}
  
.calendar td {
    padding: 15px;
    border: 1px solid #ddd;
    height: 60px;
    vertical-align: top;
}
  
.calendar td:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
  
.calendar .today {
    background-color: #d1ecf1;
    font-weight: bold;
    border: 2px solid #0c5460;
}
.btn_login + .btn_login {
    margin-top: 3px;
}
.card {
    background: var(--bg-dark);
    color: var(--accent-color);
    border: none;
    border-radius: 8px;
    transition: background-color .3s;
}
.card:hover {
    background: #1f3145;
}

.card-title {
    font-weight: 700;
    color: var(--text-light);
}

.card-subtitle {
    font-weight: 500;
    color: #ced6e0;
}

.card-text {
    font-size: 0.9rem;
    color: #6b8ba4;
}

a.text-decoration-none {
    color: inherit; 
    text-decoration: none;
}

.card {
    background-color: #272727; 
    color: #9dc9ff;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}
.card:hover {
    background-color: #27466b;
}

.card-title {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: #e0e6ed;
    margin-bottom: .5rem;
}

.card-subtitle {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    color: #ced6e0;
    margin-bottom: 1rem;
}

.card-text {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 0.9rem;
    color: #6b8ba4;
}

.github-link {
    color: grey !important;
}
.github-link:hover {
    color: grey !important;
    text-decoration: none !important;
    background-color: rgba(13, 77, 114, 0.14);
}

.favorite-project {
    color: gold !important;
}
.favorite-project:hover {
    background-color: rgba(174, 176, 15, 0.14);
}

.info-icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    flex-shrink: 0;
}

.info-link {
    color: inherit; 
    text-decoration: none;    
    cursor: pointer;
    transition: opacity .2s;
}
.info-link:hover {
    opacity: 0.8;
}
.username-item {
    color: #433e3e;  
    font-size: 2.3rem; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th {
    background-color: #34495e;
    color: white;
    padding: 12px;
    text-align: left;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #e6f7ff;
}

.form-control, .form-select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 100px;
}

.invalid-feedback {
    color: #e74c3c;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.list-group {
    margin-bottom: 20px;
}

.list-group-item {
    padding: 12px 15px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    background-color: white;
    transition: all 0.3s;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    text-decoration: none;
}

.container.my-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
