.vertical_alignment {
    display: flex; 
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin: 0 auto;               
    width: fit-content;           
    
    width: 80%;

}

.vertical_alignment_forum_list {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;               
    width: fit-content;           
    
    width: 35%;
    margin-right: 65px;
    margin-left: 50px;
}

.vertical-line {
    width: 1px;
    height: 255px;
    background-color: #272727; 
    margin: 0 15px;
}

.vertical_alignment_forum_list a {
    text-decoration: none;  
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-start;
}

.vertical_alignment_forum_list p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-end;
    margin-left: auto;
}

.vertical_alignment_messages {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;               
    width: fit-content;           
    
    width: 65%;
    margin-left: auto;
}

.horizontal {
    display: flex; 
    flex-direction: row;
    width: 100%;
    

}

.vertical_alignment a {
    text-decoration: none;  
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-start;
    

}

.vertical_alignment p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
    align-self: flex-end;
    margin-left: auto;
    

}

p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
}

hr {
    height: 2px;
    background-color: #0a0a0a; 
    border: none;
    color: #0a0a0a;


}


h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 900;
    color: #2e2e2e;
    margin-top: 55px;
    margin-left: 50px;
    text-align: center; 
    margin-bottom: 75px;
}
