<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of all Forums</h1>
    <div class="vertical_alignment">
        {% if forums %}
        {% for forum in forums %}
            <a href="">{{ forum.title }}</a>
        {% endfor %}
        {% endif %}
        {% if not forums %}
            <p>No forums yet</p>
        {% endif %}

    </div>
    
</body>
</html>