<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static css_file %}">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="">Group Portal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'forums' %}">Forums</a>
              </li>
            </ul>
              <div class="d-flex">
              {% if user.is_authenticated %}
                  <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Вийти з аккаунту</button>
                </form>
              {% else %}
                  <a href="{% url 'login' %}" class="btn btn-outline-primary ms-2">Log in</a>
                  <a href="{% url 'register' %}" class="btn btn-outline-success ms-2">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
    </nav>
    <a href="{% url 'home' %}" class="btn_back_new">Назад</a>
    <h1>List of all Forums</h1>
    <div class="vertical_alignment">
        {% if role == 'admin' or role == 'moderator' %}
          <button onclick="open_add_form()" class="btn btn-primary custom-btn">Add</button>
        {% endif %}
        <div id="add_form" style="display: none;">
            <form method="post" class="add_forum">
                {% csrf_token %}
                {{form.title}}
                <button type="submit" class="send"><i class="las la-plus"></i></button>
            </form>
        </div>
        {% if forums %}
        {% for forum in forums %}
        <div class="horizontal">
            <a href="{% url 'detailed_forum' forum_id=forum.id %}">{{ forum.title }}</a>
            <p>{{ forum.created_date }}</p>
            {% if role == 'admin' or role == 'moderator' %}
              <div class="buttons_group_home">
                  <button type="button" onclick="open_edit_form('{{ forum.id }}')" class="buttons_group_buttons_edit">Edit</button>
                  <button type="button" onclick="open_delete_form('{{ forum.id }}')" class="buttons_group_buttons_delete">Delete</button>
              </div>
            {% endif %}

        </div>
            <hr>
        <div id="delete_form_{{ forum.id }}" class="popup" style="display: none;">
          <div class="popup_content">
              <form method="post">
                  {% csrf_token %}
                  <div class="popup-content"></div>
                  <input type="hidden" name="delete_id" value="{{ forum.id }}">
                  <p>Are you sure you want to delete this forum?</p>
                  <button type="submit" name="delete" class="buttons_group_buttons_delete">Delete</button>
                  <button type="button" onclick="close_delete_form('{{ forum.id }}')" class="buttons_group_buttons_edit">Close</button>
              </form>
          </div>
        </div>
        <div id="edit_form_{{ forum.id }}" style="display: none;">
          <form method="post" class="add_forum">
              {% csrf_token %}
              <input type="hidden" name="edit_id" value="{{ forum.id }}">
              <textarea name="title" class="form-control" rows="1" style="width: 90%;" required>{{ forum.title }}</textarea>
              <button type="submit" class="save_new">Save</button>
          </form>
        </div>
            
        {% endfor %}
        {% endif %}
        {% if not forums %}
            <p>No forums yet</p>
        {% endif %}

    </div>
    <script>
      function open_add_form() {
          document.getElementById(
              "add_form"
          ).style.display = "block";
      }
      function open_delete_form(forumId) {
          document.getElementById(
              `delete_form_${forumId}`
          ).style.display = "block";
      }
      function close_delete_form(forumId) {
        document.getElementById(
            `delete_form_${forumId}`
        ).style.display = "none";
      }
      function open_edit_form(forumId) {
          document.getElementById(
              `edit_form_${forumId}`
          ).style.display = "block";
      }
    </script>
    
</body>
</html>