<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Details of Portfolio</title>
</head>
<body>
    <h1>
        ID: {{ student.id }}<br>
        First name: {{ student.first_name }}<br>
        Middle name: {{ student.middle_name }}<br>
        Last name: {{ student.last_name }}<br>
        Phone: {{ student.phone }}<br>
        Email: {{ student.email }}<br>
        Projects:
    </h1>
</body>
</html>